* {
	margin: 0;
	padding: 0;
}

p,
span {
	font-family: "Roboto", sans-serif;
	font-weight: 700;
}

body {
	position: relative;
	min-height: 100vh;
}

.box {
	position: absolute;
	width: fit-content;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #3399cc;
	border: 14px solid #2b81ac;
}

.table {
	width: fit-content;
	margin: 94px 130px;
	border: 3px solid white;
}

.row {
	background-color: #fff;
}

.square {
	background-color: black;
	color: #fff;
	display: inline-block;
	height: 79px;
	width: 134px;
	margin-bottom: 3px;
	margin-right: 3px;
}

.square:last-child {
	margin-right: 0;
}

.square.long-square {
	margin-bottom: 0;
}

.four-corners {
	width: 275px;
}

.long-square {
	width: 100%;
}
